* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
    font-size: 16px;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#main div {
    padding: 2rem;
}

#main div h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;
}

#main div p {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 600px) {
    #main div {
        padding: 1.5rem;
    }
    
    #main div h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }
    
    #main div p {
        font-size: 1.5rem;
      }
  }
  