* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
    font-size: 16px;
    color: #202020;
}

body {
    font-family: 'Roboto Slab', serif !important;
    font-weight: 600;
}

#main {
    padding-top: 4rem;
    padding-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 4rem;
}

#main_nav {
    display: flex;
}

ul {
    list-style-type: none;
    padding-right: 4rem;
    font-size: 1.25rem;
  }

li {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: #202020;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #202020;
    }
    a {
        color: #eee;
    }
  }

@media screen and (max-width: 600px) {
    #main {
        flex-wrap: wrap;
    }
    #main_nav{
        display: none;
    }
}