* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto Slab', serif !important;
    font-weight: 600;
    font-size: 16px;
}

a:link {
    color: #9A9A9A;
    text-decoration: none;
}

a:hover {
    color: #26A4FF;
    text-decoration: none;
}

a:visited {
    color: #26A4FF;
    text-decoration: none;
}